<!DOCTYPE>
<html>

<head>
  <title>VueJS Course</title>
  <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
  <div id="app">
      <ul>
        <li v-for="(bird, idx) in birds" :class="bird" :key="bird">
          {{ bird }} - {{ idx }}
        </li>
      </ul>
      <hr>
      <ul>
        <li v-for="person in people" :class="person">
          <div v-for="(value, key) in person">
            {{ key }}: {{ value }}
          </div>
        </li>
      </ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="app.js"></script>
</body>

</html>