<!DOCTYPE>
<html>

<head>
  <title>VueJS Course</title>
  <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
  <div id="app">
    <p v-if="mode == 1">Showing v-if directive content</p>
    <template v-else-if="mode == 2">
      <h3>Welcome</h3>
      <p>v-else-if</p>
    </template> <!--template is used so that the HTML structure is maintained for css-->
    <!--this is because the template tag isn't recognized when HTML is rendered on the browser-->
    <span v-else>v-else directive</span>

    <i v-show="mode == 1">v-show</i> <!--this is better used for frequent toggles-->

    <select v-model="mode">
      <option value="1">if</option>
      <option value="2">else-if</option>
      <option value="3">else</option>
    </select>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="app.js"></script>
</body>

</html>